body {
  background-color: #496A81;
}
/* welcome page */
#TopContainer {
  display: flex;
  height:100%;

  background-color: #2B3A67;
  padding:1%;
}
#TopPic {
  z-index: +2;
  top: 6%;
  margin-left:35%;
}

#TopPic>img {
  display:flex;
  width: 60%;
  height: auto;
  margin-top: 2em;
  margin-left:1em;
}

#TopPicText {
  margin-top: 3em;
  max-width: 20%;
  top: 1%;
  color: white;
  margin-left: -16px;
  padding-left: 16px;
}
li:not(:last-child) {
  margin-top: 6px;
  margin-bottom: 16px;
}
.NaviLink{
  margin-top:6px;
  transition: background-color 0.5s ease;
}
.NaviLink:hover {
  background-color: lightgreen;}

/* page main container */
.flex-container {
  display: flex;
  height: 3em;
  width: 100%;
  background-color: #66999B;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  margin-top: -7px;
}

.flex-container>a {
  font-size: 1.6em;
  text-decoration: none;
  color: white;
  margin-left: 2em;
  margin-right: 0.4em;
}

#urp {
  margin-left: 7px;
  position: absolute;
  color: white;
  z-index: +1;
  font-size: 3em;
}
/* footer */
#socialcontainer {
  display: flex;
  justify-content: center;
  background-color: ;
  background-size: contain;
}

.socialbutton {
  height: 75px;
  width: 65px;
  border-style: none;
}

#facebook {
  background: url("images/facebook-2429746_640.png") no-repeat;
  background-size: contain;
}

#twitter {
  background: url("images/twitter-2430933_640 (1).png")no-repeat;
  background-size: contain;
}

#instagram {
  background: url("images/instagram-2433265_640.png")no-repeat;
  background-size: contain;
}

#linkedin {
  background: url("images/linked-in-2668700_640.png")no-repeat;
  background-size: contain;
}

#youtube {
  background: url("images/youtube-1837872_640.png")no-repeat;
  background-size: contain;
  margin-top: 15px;
}
/*Blueprints Site*/
#blueprintcontainer{
  text-align: center;
  display:flex;
  flex-direction:column;
  background-color:#2B3A67;
  border-style:;
  width: 100%;
  height: auto;
  color:white;
}
.project{
  height:auto;
  width:40%;
  margin-right:auto;
  margin-left:auto;
  margin-top:16px;
  margin-bottom:16px;
  padding:16px;
  border-style:dotted;

}
#SkillsContainer{
  justify-content: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:#2B3A67;
  border-style:;
  width: 100%;
  height: auto;

}

.Skills{
  width:26%;
  height:20em;
  background-color:#2B3A67;
  border-style:solid;
  border-color:grey;
  padding:1%;
  margin:1%;
  color:white;
}

.Skills > img {
height:25%;
width:20%;
padding:1%;
}
.Skilldescription{
margin-top:-7em;
font-size:75%;
}
.Skilldescription > h1{
text-align: right;
font-size:180%;
}
.Skilldescription > p {
  margin-top:4em;
}
.skillbar{
  padding:1%;
  height:20px;
  width:90%;
  background-color:grey;
  border-radius:10px;
  margin-top:16px;
  transition: background-color 0.5s ease;

}
.skillbar:hover {
  background-color: lightgreen;
}
.Skillmeter{
  margin-top:3px;
  height:60%;
  width:;
  border-style:solid;
  border-color:lightblue;
  background-color:yellow;
  border-radius:inherit;
  text-align:right;
}
.Skillmeter > p {
  margin-top:-1px;
  color:black;
}
#HTMLSKILL {
  width:50%;
}
#CSSSKILL{
  width:35%
}
#JSSKILL{
  width:55%;
}
#PHPSKILL{
  width:35%;
}
